

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
f
l
a
s
k


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
f
l
a
s
k
-
c
o
r
s


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
f
l
a
s
k
_
s
q
l
a
l
c
h
e
m
y


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
g
u
n
i
c
o
r
n


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
r
e
q
u
e
s
t
s


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
W
e
r
k
z
e
u
g


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
P
y
Y
A
M
L


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
n
u
m
b
a


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
m
p
m
a
t
h


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
i
m
a
g
e
i
o


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
i
m
a
g
e
i
o
-
f
f
m
p
e
g


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
m
a
t
p
l
o
t
l
i
b


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
b
s
4


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
n
u
m
p
y


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
s
c
i
p
y


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
w
i
k
i
p
e
d
i
a