<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>test</title>
</head>
<body>

{% for name in books %}
<p> {{ name }} </p>
{% for method in books[name] %}
<div id="{{ name }}-{{ method }}">
    <input type="button" value="{{ method }}" onclick="requestData(
    '/api/{{ name }}/{{ method }}',
    Object.values(
        $('#{{ name }}-{{ method }}')[0].querySelectorAll('input')
    ).map( i => [i.name.split(' ').join(''), i.value.split(' ').join('')] )
    );">
    {% for arg in books[name][method].required %}
    <label>{{ arg }} ( required ) </label><input type="text" name="{{ arg }}" value="{{ arg }}">
    {% endfor %}
    {% for arg in books[name][method].optional %}
    <label>{{ arg }} ( optional ) </label><input type="text" name="{{ arg }}" value="">
    {% endfor %}
    <p id="{{ name }}-{{ method }}-response"></p>
</div>
{% endfor %}
{% endfor %}

</body>
<script>
function requestData ( url, Data ) {
    response = $("#" + url.replace("/api/", "").replace("/", "-") + "-response")[0];
    Params = {};
    for ( x of Data ) {
        if ( x[1] != "" ) {
            Params[x[0]] = x[1];
        };
    };
    $.get(
        url, Params,
        function(data) {
            response.innerHTML = JSON.stringify(data);
        }
    );
};

function post ( id ) {
    formObj = $("#" + id)[0];
    urlData = "/api/" + id + "/users";
    params = {
        username: formObj.querySelector( "input[name=username]" ).value,
        password: formObj.querySelector( "input[name=password]" ).value
    };
    $.post(
        urlData,
        params,
        function ( data ) {
            setTimeout( function () {
                formObj.querySelector("#" + id + "-response").innerHTML = JSON.stringify(data);
            }, 200);
        }
    );
};
</script>
</html>